<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>绝地求生</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap-pubg.css"/>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/vue.js"></script>
</head>
<body>
<!--导航-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">PUBG</a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav  navbar-right">
                <li><a href="index.html">绝地首页</a></li>
                <li><a href="strategy.html">游戏攻略</a></li>
                <li><a href="news.html">新闻中心</a></li>
                <li><a href="index.html#course">精彩视频</a></li>
                <li><a href="login.html">用户登陆</a></li>
            </ul>
        </div>
        <!--导航-->

    </div>
</nav>
<!--导航-->
<!--home-->
<section id="home">
    <div class="lvjing">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1>绝地求生</h1>
                    <p>
                        100人同时抢夺资源 只为成为最后的生存者<br/>
                        究竟谁能大吉大利 今晚吃鸡
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>
<!--home-->
<div id="strategy">
    <!--攻略-->
    <section class="gl" id="s1">
        <div class="container">
            <div class="col-md-6">
                <h2>新手须知</h2><br/>
                <p v-for="begin in beginList"><span class="glyphicon glyphicon-map-marker tubiao"></span>
                    <a :href="'article?action=view&id='+begin.id">{{begin.title}}</a>
                </p>
            </div>
            <div class="col-md-6">
                <img src="image/slide-2.jpg" class="img-responsive" alt=""/>
            </div>
        </div>
    </section>
    <!--攻略-->
    <!--攻略-->
    <section class="gl" id="s2">
        <div class="container">
            <div class="col-md-6">
                <h2>进阶教学</h2><br/>
                <p v-for="advanced in advancedList"><span class="glyphicon glyphicon-map-marker tubiao"></span>
                    <a :href="'article?action=view&id='+advanced.id">{{advanced.title}}</a>
                </p>
            </div>
            <div class="col-md-6">
                <img src="image/slide-2.jpg" class="img-responsive" alt=""/>
            </div>
        </div>
    </section>
    <!--攻略-->
    <!--攻略-->
    <section class="gl" id="s3">
        <div class="container">
            <div class="col-md-6">
                <h2>战术策略</h2><br/>
                <p v-for="tactic in tacticList"><span class="glyphicon glyphicon-map-marker tubiao"></span>
                    <a :href="'article?action=view&id='+tactic.id">{{tactic.title}}</a>
                </p>
            </div>
            <div class="col-md-6">
                <img src="image/slide-2.jpg" class="img-responsive" alt=""/>
            </div>
        </div>
    </section>
    <!--攻略-->
</div>
<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>岭南师范学院 ©2018 KADIMA</p>
            </div>
        </div>
    </div>
</footer>
<!--footer-->
<script src="assets/js/strategy.js"></script>
</body>
</html>